<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>45107615262-iemtk20o55g3u4nlvqbrr3ohnfulngc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45107615262-iemtk20o55g3u4nlvqbrr3ohnfulngc1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>45107615262-m1c66tqnjfqtuas0uutqcm5r8o1g8ait.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3R6wv1dN31U7R1_fdqy8SbeftQ14SLLc</string>
	<key>GCM_SENDER_ID</key>
	<string>45107615262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BarrowDevs.Squash</string>
	<key>PROJECT_ID</key>
	<string>squash-f392b</string>
	<key>STORAGE_BUCKET</key>
	<string>squash-f392b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45107615262:ios:89f290998b585c04adc00f</string>
	<key>DATABASE_URL</key>
	<string>https://squash-f392b.firebaseio.com</string>
</dict>
</plist>